pandas
plotly
streamlit
numpy
matplotlib
hypertools
keybert
paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple/
shapely -i https://pypi.tuna.tsinghua.edu.cn/simple/
paddleocr -i https://pypi.tuna.tsinghua.edu.cn/simple/
opencv-python-headless
lxml
